body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-image: url("/bgimage.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
}
h1 {
    color: #333;
}
form {
    margin-bottom: 20px;
}
input {
    margin-right: 10px;
}
.task {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}
